{% extends 'base.html' %}
{% load meus_filtros %}

{% block title %}
Cadastrar Pedido
{% endblock title %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form_pedido.cliente.erros }}
            <label>Cliente: </label>
            {{ form_pedido.cliente | addclass:'form-control' }}
        </div>

        <div class="form-group">
            {{ form_pedido.observacoes.erros }}
            <label>Observacoes: </label>
            {{ form_pedido.observacoes | addclass:'form-control' }}
        </div>

        <div class="form-group">
            {{ form_pedido.data_pedido.erros }}
            <label>Data pedido: </label>
            {{ form_pedido.data_pedido | addclass:'form-control' }}
        </div>

        <div class="form-group">
            {{ form_pedido.valor.erros }}
            <label>Valor: </label>
            {{ form_pedido.valor | addclass:'form-control' }}
        </div>

        <div class="form-group">
            {{ form_pedido.status.erros }}
            <label>Status: </label>
            {{ form_pedido.status | addclass:'form-control' }}
        </div>

        <div class="form-group">
            {{ form_pedido.produtos.erros }}
            <label>Produtos: </label>
            {{ form_pedido.produtos | addclass:'form-control' }}
        </div>

        <div class="form-group">
            <input type="submit" name="Cadastrar">
        </div>
    </form>
{% endblock content %}